<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <!-- <div class="dropdown">
                    <button class="dropbtn">
                        Categories
                    </button>
                    <div class="dropdown-content">
                        <a href="#">something</a>
                        <a href="#">sSmething</a>
                        <a href="#">Something</a>

                    </div>
                </div> -->
                
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <% if (isAuthenticated) { %>
                                    <h4>Price for authorized customers</h4>
                                    <h2 class="product__price">$
                                        <%= product.price %>
                                    </h2>
                                    <% } %>
                                    <% if (!isAuthenticated) { %>
                                    <h4>Price for authorized customers</h4>
                                    <h2 class="product__price">$
                                        <%= product.price %>
                                    </h2>
                                    <h4>Price for unauthorized customers</h4>
                                    <h2 class="product__price">$
                                        <%= product.prices %>
                                    </h2><br>
                                    <% } %>
                                    <p class="product__description">
                                        <%= product.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/products/<%= product._id %>" class="btn">Details</a>
                                    <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <%- include('../includes/pagination.ejs', {currentPage, nextPage, previousPage, lastPage, hasNextPage, hasPreviousPage}) %>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>